*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gilroy-Regular', sans-serif;
    /* border: 2px solid red; */
}

body{
    background: linear-gradient(rgba(0,0,0,0.05) 15%,rgba(0,0,0,0.18)),url(../resource/images/sebastian-svenson-LpbyDENbQQg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* Font */
@font-face {
    font-family: 'Boldblaster-regular';
    src: url('../resource/fonts/Boldblaster-Regular.ttf');
}

@font-face {
    font-family: 'Boldblaster-italic';
    src: url('../resource/fonts/Boldblaster-Italic.ttf');
}




/* navbar */
nav{
    height: 15vh;
}

nav p{
    height: 100%;
    padding-top: 50px;
    padding-left: 40px;
    font-size: 50px;
    font-family: 'Boldblaster-regular';
    color: #282C35;
    box-sizing: border-box;
}




/* Counter */

#counter{
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

#textarea{
    height: 97%;
    width: 66%;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 50px;
    box-sizing: border-box;
}

#textarea textarea{
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 20px;
    font-family: 'Gilroy-Light', sans-serif;
    background: transparent;
}


#textarea textarea::-webkit-scrollbar{
    display: none;
}



/* Copy Button */

#copy{
    position: relative;
    height: 50px;
    width: 200px;
    top: -50%;
    left: calc(50% - 100px);
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    background: rgba(255, 0, 56, 0.9);
}

#copy:hover{
    background: rgba(255, 0, 56, 1);
}

.copy_border{
    border: none;
}

.copy_border_mousedown{
    border: 0.1px solid white;
}



/* Stats */

#stats{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 25px;
    display: inline-block;
}

#statistics{
    height: 45%;
    /* height: 90%; */
    width: 30%;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

#stat_head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#statistics i{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    padding-top: 9px;
    cursor: pointer;
}

.plus_minus_default{
    color: gray;
}

.plus_minus_default:hover{
    color: #282C35;
}

.plus_minus_mousedown{
    color: black;
}


/* info bars */

#low_info{
    margin-bottom: 50px;
}

.info{
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    margin: 7px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.info>*{
    margin: 3px;
}

.tag{
    font-size: 15px;
}

.value{
    font-size: 15px;
}