*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red;   */
}

::-webkit-scrollbar {
    display: none;
}

:root{
    --Head-Text-Color:   white;
    --Head-Border-Color: white;
    --Head-Text-Shadow-Color: #36454f;
    --Sidebar-Inner-Border: #2C3539; 
    --Sidebar-Aux-color: whitesmoke;
    --Image: url('http://surl.li/kjnyw');
    --Body-background: url('http://surl.li/kjola');
    --Logo-background: url('http://surl.li/klypb'); 
    /* https://drive.google.com/uc?id=1-jwsXBxnHeXeR1XLresDNHEpoRho9lFt */
    --Blur : 0px;
    --Brigntness : 100%;
    --Contrast : 100%;
    --Grayscale : 0%;
    --Hue : 0deg;
    --Invert : 0%;
    --Opacity : 100%;
    --Saturate : 100%;
    --Sepia : 0%;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.15) 20%,rgba(0,0,0,0.3)), var(--Body-background);
    background-repeat: no-repeat;
    background-size: cover;
}




/* Header */

header{
    height: 80px;
    width: 100%;
    display: flex;
    overflow: auto;
}

/* Logo */
#logo{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    cursor: default;
    column-gap: 3%;
    padding: 0px 5%;
    background-image: var(--Logo-background);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.87;
}

#logo div{
    color: var(--Head-Text-Color);
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0px 1px 3px var(--Head-Text-Shadow-Color);
    box-shadow: 0px 1px 100px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.03);
}

#logo div:first-child{
    transform: scale(200%);
    margin: 0px 10px;
}

/* Nav Bar */

Nav{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 3%;
    padding: 0px 5%;
}

Nav a{
    height: 45%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #2C3539;
    padding: 3px 10px;
    border: 3px solid #2C3539;
    font-weight: bold;
}

Nav a:hover{
    background-color: rgba(0,0,0,0.1);
}






/* Content */

#content{
    height: 595px;
    width: 100%;
    display: flex;
    padding: 1.5% 3%;
    box-sizing: border-box;
}

/* Sidebar */
#sidebar{
    height: 100%;
    width: 20%;
}

/* Original Image */
#OgImg{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5%;
}

#OgPreviewWindow{
    width: 90%;
    height: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.5)), var(--Image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

#OgPreview{
    width: 100%;
    height: 100%;
    background: var(--Image) no-repeat center center;
    background-size: contain;
    backdrop-filter: blur(1px);
    border: 4px solid var(--Sidebar-Inner-Border);
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#OgPreview label{
    margin: 5%;
    padding: 1.5%;
    border-radius: 5px;
    transform: scale(125%);
    background-color: var(--Sidebar-Inner-Border);
    background-size: contain;
    color: var(--Sidebar-Aux-color);
    cursor: pointer;
}


#OgPreview label input{
    display: none;
}

#ImgName{
    width: 90%;
}

#ImgName p{
    background-color: var(--Sidebar-Aux-color);
    display: inline-block;
    border-radius: 50px;
    color: gray;
    font-size: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    cursor: default;
}




/* Preferences */

#preferences{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    box-sizing: border-box;
    gap: 1%;
}

#prefHead{
    text-align: center;
    color: whitesmoke;
    background-color: #2C3539;
    writing-mode: vertical-lr;
    width: 7%;
    transform: rotate(180deg);
    letter-spacing: 7px;
}


#pref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#pref>div{
    display: flex;
    width: 100%;
    margin: 3% 0%;
}

.effect{
    display: flex;
    align-items: center;
    width: 40%;
}

.effect i{
    margin: 0% 6%;
    width: 19%;
    
}

.effectRange{
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: center;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 93%;
    background: transparent;
    cursor: pointer;
}

input[type="range"]:focus{
    outline: none;
}



/* Range thumb */
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 100px;
    margin: -4px;
    background: whitesmoke;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

input[type="range"]:hover::-webkit-slider-thumb{
    background: #C9C6C6;
}


input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 100px;
    margin: -4px;
    background: whitesmoke;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

input[type="range"]:hover::-moz-range-thumb{
    background: #C9C6C6;
}


/* Range Track */
input[type="range"]::-webkit-slider-runnable-track{
    height: 3px;
    background-color: var(--Sidebar-Inner-Border);
    border-radius: 100px;
}

input[type="range"]::-moz-range-track{
    height: 3px;
    background: var(--Sidebar-Inner-Border);
    border-radius: 100px;
}



/* Preview */

#previewWindow{
    width: 80%;
    height: 100%;
    padding: 3% 1%;
    box-sizing: border-box;
}

#previewBackground{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.5)), var(--Image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    filter: opacity(var(--Opacity));
}

#preview{
    width: 100%;
    height: 100%;
    background: var(--Image) no-repeat center center;
    background-size: contain;
    backdrop-filter: blur(1px);
    border: 4px solid var(--Sidebar-Inner-Border);
    box-sizing: border-box;
    filter: blur(var(--Blur)) brightness(var(--Brigntness)) contrast(var(--Contrast)) opacity(var(--Opacity)) grayscale(var(--Grayscale)) hue-rotate(var(--Hue)) invert(var(--Invert)) saturate(var(--Saturate)) sepia(var(--Sepia));
}



/* Footer */

footer{
    height: 35px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: right;
    column-gap: 20px;
    padding: 0px 50px;
    box-sizing: border-box;
}

footer i{
    transform: scale(120%);
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}